// colors
$white : #fff;
$black : #000;
$offwhite : #faf9ff;
$gray : #666;
$darkgray : #34466c;
$blue : blue;
$orange : #f64728;
 
// Font size
$defaultFontSize : 14px;


$containerWidth : 1200px;

